<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <title>Document</title>
    <style>
        body{
            background: #121212;
            justify-content: center;
            color: #f1f1f1;
        }
    </style>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>
<body >
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container-md text-center p-5 rounded shadow bg-dark " style="max-width: 600px;" >
        
        <form method="post">
            {{form.hidden_tag()}}
            <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">Adresse email</label>
               <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required value="{{form.email.data or ''}}">
            </div>
            
            <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">Nom</label>
               <input class="form-control" name="nom" type="text" placeholder="Nom" aria-label="default input example" required value="{{form.nom.data or ''}}">
            </div>

            <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">Prenom</label>
               <input class="form-control" name="prenom" type="text" placeholder="Prenom" aria-label="default input example" required value="{{form.prenom.data or ''}}">
            </div>

             <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">Pays</label>
               <input class="form-control" name="pays" type="text" placeholder="Pays" aria-label="default input example" required value="{{form.pays.data or ''}}">
            </div>

             <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">Age</label>
               <input class="form-control" name="age" type="text" placeholder="Age" aria-label="default input example" required value="{{form.age.data or ''}}">
            </div>

             <div class="mb-3">
               <label for="exampleFormControlInput1" class="form-label">Ville</label>
               <input class="form-control" name="ville" type="text" placeholder="Ville" aria-label="default input example" required value="{{form.ville.data or ''}}">
            </div>
                    {% if form.errors %}
                        <div class="alert alert-danger mt-3">
                        {% for field,errors in form.errors.items() %}
                            {% for error in errors %}
                                   <div>{{error}}</div>
                             {%endfor%}
                        {%endfor%}
                        </div>
                     {% endif %}
            <div class="d-grid gap-2"> <button class="btn btn-secondary btn-lg" type="submit">Envoyer</button></div>       
        </form>  


    </div>
    </div>
</body>
</html>